<%= turbo_frame_tag "comment_#{comment.id}" do %>
  <div class="card my-2" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><%= comment.user.name %></h5>
      <p class="card-text"><%= comment.text %></p>
    </div>
    <%= link_to "Edit this comment", edit_comment_path(comment.id) %>
    <%= button_to "Destroy this comment", comment, method: :delete %>
  </div>
<% end %>