<%= turbo_frame_tag "comment_#{comment.id}" do %>
  <div class="card my-2" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><%= comment.user.name %></h5>
      <p class="card-text"><%= comment.text %></p>
    </div>
  <div class="d-inline">
    <%= link_to "Edit", edit_comment_path(comment.id), class: "btn btn-primary" %>
    <%= button_to "Destroy", comment, method: :delete, class: "btn btn-danger" %>
  </div>
  </div>
<% end %>