<div class="card text-bg-secondary mb-3" style="max-width: 20rem;">
  <div class="row g-0">
    <div class="col-md-4">
    <!-- <img src="..." class="img-fluid rounded-start" alt="..."> -->
      
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><%= event.title %></h5>
        <p class="card-text"><%= event.id %></p>
        <p class="card-text"><%= event.location %></p>
        <p class="card-text"><%= event.description %></p>
        <p class="card-text"><%= event.start_date %></p>
        <%= link_to "Show", new_event_path ,class: "btn btn-dark"%>
      </div>
    </div>
  </div>
</div>
