<%= form_with(model: event, class: "form") do |form| %>
  <% if event.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
        <% event.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title, class: "form-label" %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :description, class: "form-label" %>
    <%= form.text_area :description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :location, class: "form-label" %>
    <%= form.text_area :location, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :start_date, class: "form-label" %>
    <%= form.datetime_field :start_date, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :end_date, class: "form-label" %>
    <%= form.datetime_field :end_date, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :image, class: "form-label" %>
    <%= form.file_field :image, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.submit "Save Event", class: "btn btn-primary" %>
  </div>
<% end %>
