
  <p style="color: green"><%= notice %></p>

  <h1>Events</h1>

  <%= form_with(url: events_path, method: "GET") do |form| %>
    <%= form.label :query, "Search event:" %>
    <%= form.text_field :query %>
    <%= form.submit 'Search', name: nil %>
  <% end %><br>

  <%= turbo_frame_tag "events" do %>
    <% @events.each do |event| %>
      <%= render partial: "events/event", locals:{event: event} %>
  <% end %>

  <% end %>

<%= link_to "New event", new_event_path %>
