<div class="container">
  <div class="row align-items-start">
    <div class="col">
      <div  class="card my-3" style="width: 18rem;">
        <% if @event.image.attached? %>
          <%= image_tag(@event.image, style: "border-radius: 5px;" ) %>
        <% end %>
        <div class="card-body">
          <h5 class="card-title"><%= @event.title %></h5>
          <p class="card-text"><%= @event.description %></p>
          <p class="card-text"><%= @event.location %></p>
          <p class="card-text"><%= @event.start_date %></p>
          <%= link_to(User.find(@event.user_id).name, user_path(@event.user_id)) %>
        </div>
        <div class="card-body">
          <%= link_to "Show", event_path(@event) ,class: "btn btn-primary" %>
          <% if can? :update, @event%>
            <%= link_to "Edit", edit_event_path(@event), class: "btn btn-dark" %>
            <%= button_to "Destroy", @event, method: :delete, class: "btn btn-danger" %>
          <% end %>
          <%# if @attendances != nil %>
            <%# @attendance = @attendances.where(event_id: @event.id).last %>
          <%# end %>
          <% if current_user != nil %>
              <% if @attendance == nil %>
                <%= form_with(model: [Attendance.new], local: true) do |form| %>
                  <%= form.hidden_field :event_id, value: @event.id %>
                  <%= form.submit "Attend", class: "btn btn-secondary" %>
                <% end %>
              <% else %>
                <%= form_with model: @attendance, method: :delete do |form| %>
                  <%= form.submit "Cancel Attendance", class: "btn btn-secondary" %>
                <% end %>
              <% end %>
            <% end %>
        </div>
      </div>

      <% if user_signed_in? %>
        <h5>Add a comment:</h5>
        <%= render partial: "comments/form", locals: {comment: Comment.new(event_id: @event.id)} %>
      <% end %>
      <%= link_to "Back to events", events_path %>
    </div>
    <div class="col">
    <h2>Comments:</h2>
      <%= turbo_stream_from "comments_#{@event.id}" %>
      <%= turbo_frame_tag "comments_#{@event.id}" do %>
        <% @event.comments.each do |comment| %>
          <% if current_user == comment.user %>
            <%= render partial: "comments/comment_buttons", locals: { comment: comment, user: current_user } %>
          <% else %>
            <%= render partial: "comments/comment", locals: { comment: comment, user: current_user } %>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <div class="col">
      <% if @attendances != nil %>
        <h2>Attending:</h2>
        <ul>
          <% @attendances.each do |attendance| %>
            <li>
              <%= link_to(User.find(attendance.user_id).name, user_path(attendance.user_id)) %>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
</div>