<div class="container">
  <div class="row align-items-start">
    <div class="col">
      <%= render @event %>

      <% if can? :update, @event%>
        <%= link_to "Edit this event", edit_event_path(@event)%>
        <%= button_to "Destroy this event", @event, method: :delete %>
      <% end %>
      <% if user_signed_in? %>
        <h5>Add a comment</h5>
        <%= render partial: "comments/form", locals: {comment: Comment.new(event_id: @event.id)} %>
      <% end %>
      <%= link_to "Back to events", events_path %>
    </div>
    <div class="col">
    <h2>Comments:</h2>
      <%= turbo_stream_from "comments_#{@event.id}" %>
      <%= turbo_frame_tag "comments_#{@event.id}" do %>
        <% @event.comments.each do |comment| %>
          <% if current_user == comment.user %>
            <%= render partial: "comments/comment_buttons", locals: { comment: comment, user: current_user } %>
          <% else %>
            <%= render partial: "comments/comment", locals: { comment: comment, user: current_user } %>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <div class="col">
      <% if @attendances != nil %>
        <h2>Attending:</h2>
        <ul>
          <% @attendances.each do |attendance| %>
            <li>
              <%= link_to(User.find(attendance.user_id).name, user_path(attendance.user_id)) %>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
</div>