
<%= render @event %>

<div>
  <% if can? :update, @event%>
    <%= link_to "Edit this event", edit_event_path(@event)%>
    <%= button_to "Destroy this event", @event, method: :delete %>
  <% end %>
  <%= link_to "Back to events", events_path %>
</div>

<%= turbo_stream_from "comments" %>
<%= turbo_frame_tag "comments" do %>
  <%= render partial: "comments/comment", collection: @event.comments %>
<% end %>

<%= render partial: "comments/form", locals: {comment: Comment.new(event_id: @event.id)} %>
